{{>_navbar}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/if}}
{{>_msg}}


<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0;" src="/images/cadastrarvaga.png" alt="">
    <script>
        AOS.init();
    </script>

    <form action="/admin/cadvagas" method="post">
        <div class="CadastroProduto" style="padding: 20px; margin-bottom: 5%;">

            <!---Titulo da vaga-->
            <h5 style="margin-top: 2%; color: #ffe600;">Titulo da vaga:</h5>
            <input style="background-color: #2e2e38; color:  #fff; border: 1px solid #ffe600;" name="titulo"
                style="margin-top: 2%;" class="form-control" type="text" placeholder="Desenvolvedor">
            <h5 style="margin-top: 2%;color: #ffe600;">Descrição da vaga:</h5>
            <!---Descrição da vaga-->
            <textarea name="descrição" placeholder="Descrição referente a vaga"
                style="resize: none;color:  #fff;height: 150px; margin-top: 2%;background-color: #2e2e38; border: 1px solid #ffe600;"
                class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            <h5 style="margin-top: 2%; color: #ffe600;">Selecione a categoria da Vaga:</h5>
            <select name="categoria" style="margin-top: 2%;" style="width: 60%;" class="form-control"
                id="exampleFormControlSelect1">
                <option value="1">Front-End</option>
                <option value="2">Back-End</option>
                <option value="3">Banco de Dados</option>
                <option value="4">Devops</option>
                <option value="5">Mobile</option>
                <option value="6">Gestão</option>
                <option value="7">Comunicação</option>
                <option value="8">Desenvolvimento Pessoal</option>
            </select>

        </div>


        <div style="text-align: center; margin-bottom: 5%; margin-top: 2%;">
            <button style="margin-bottom: 5%;" class="btnPublicar"
                onclick="location.href='/templates/homevaga.html'">Publicar</button>
        </div>
    </form>

    </div>

</section>