<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0;" src="/images/imgusuariocad.png" alt="">
    <script>
        AOS.init();
    </script>


    <div class="flex">

        <!--Card de cada perfil-->
        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div id="corCard" class="card profile-card-5">
                <div class="card-img-block">
                    <a href="/admin/pagUsuarios">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Carlos Almeida</h5>

                </div>
            </div>
        </div>





    </div>

    </div>
    </div>

    <a href="/admin/cadmissao" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>

</section>