<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0; " src="../static/images/imgprofal.png" alt="">
    <script>
        AOS.init();
    </script>

    <br>
    <img id="imgPerfil" class="rounded-circle" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
        alt="Card image cap">
    <h4 class="tituloNome">Carlos Almeida</h4>

    <h2 style="color:rgb(100, 224, 16) ;"><i class="fas fa-check"></i> Missões Concluidas <i class="fas fa-check"></i>
    </h2>

    <!--Missões Cadastradas-->
    <a href="missao.html">
        <div data-aos="zoom-in" class="col-xl-12 col-md-12">
            <div id="cardaMissao" style="border: 0;" class="card">
                <div class="card-content">
                    <div id="cardaMissao2" class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="align-self-center">
                                <img src="../static/images/hardskills.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                                <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL,
                                    JQuery, MVC, APIs, IONIC e muito mais</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </a>

    <!--Missões Cadastradas-->
    <a href="missao.html">
        <div data-aos="zoom-in" class="col-xl-12 col-md-12">
            <div id="cardaMissao" style="border: 0;" class="card">
                <div class="card-content">
                    <div id="cardaMissao2" class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="align-self-center">
                                <img src="../static/images/hardskills.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                                <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL,
                                    JQuery, MVC, APIs, IONIC e muito mais</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </a>


    <h2 style="color: rgb(206, 13, 13);"> <i class="fas fa-times"></i> Missões Não Concluidas <i
            class="fas fa-times"></i></h2>

    <!--Missões Cadastradas-->
    <a href="missao.html">
        <div data-aos="zoom-in" class="col-xl-12 col-md-12">
            <div id="cardaMissao" style="border: 0;" class="card">
                <div class="card-content">
                    <div id="cardaMissao2" class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="align-self-center">
                                <img src="../static/images/hardskills.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                                <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL,
                                    JQuery, MVC, APIs, IONIC e muito mais</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </a>

    <br>



    <a href="cadMissao.html" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>

</section>