
input {
    width: 50%;
    margin-left: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form {
    margin-top: 3%;
    margin-left: 35%;
}

button img {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
}

.teste {
    color: white;
    margin-top: 2.5%;
}

.EYimg {
    margin-top: 2%;
}
.logoey{
    width: 80px;
    height: 80px;
    margin-bottom: 10%;
}
#corBtnLogin{
    background-color:#ffe600; 
    color: #333333;
    margin-top: 20px;
}
.links{
    text-decoration: none;
    color: black;
}
#txtCadastro{
    font-size: 15px;
}
.corEY{
 background-color: #2e2e38;
}

.nav-item a{
    color: #fff;
}
#estrelaico{
    color: #2e2e38;
}
#amareloEy{
    color: #ffe600;
}
#amareloEy2{
    background-color:  #ffe600;
}

#laranjaEy{
    color: #f09c0c;
}

#roxoEy{
    color: #78449c;
}

#azulEy{
    color: #80c49c;
}

#azulEscuroEy{
    color: #08747c;
}

#corf{
    color: #fff;
}
#descMissaotxt{
    color: #fff;
    padding: 10px;
}
.cardMissoes{
    width: 50%;
    height: auto;
    border-radius: 5px ;
    background-color: #2e2e3841;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

@media (max-width: 900px) {
     .cardMissoes {
     width: 100%;
     margin: 0;
    }
       
}


#imgMissao{
margin-top: 2%;
margin-bottom: 2%;
padding-right: 12%;
}

#cardaMissao{
    border-right:5px solid #ffe600;
    border: 0;
    margin-top: 20px;
}
#cardaVagas{
    border-right:5px solid #add8e6;
    border: 0;
    margin-top: 20px;
}

#cardaVagas2{
    background-color: #33333d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right:5px solid #add8e6;
    color: #fff;
}


#cardaMissao2{
    background-color: #2e2e38;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right:5px solid #ffe600;
    color: #fff;
}

#cardaMissao3{
    border-right:5px solid #eb9811;
    background-color: #2e2e38;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#cardaMissao4{
    border-right:5px solid #70499c;
    background-color: #2e2e38;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#cardaMissao5{
    border-right:5px solid #79c59c;
    background-color: #2e2e38;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#cardaMissao6{
    border-right:5px solid #0c737d;
    background-color: #2e2e38;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#tituloVagas{
    color: #add8e6;
}

#btnIniciar{
    margin-bottom: 15px;
    margin-top: 15px;
}
.progress-bar{
    background-color: #ffe600!important;
}
#porcentagemmissao{
    font-size: 16px;
    color: #2e2e38;
}
.progress{
    background-color: #8f763f !important;
}

#imgPerfil2 {
    width: 200px;
    height: 200px;
    margin-bottom: 3%;
}

.tituloNomePerfil {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

#estrelaperfil {
    color: #ffe600;
    height: 50px;
}

#btnFinalizar{
    margin-bottom: 40px;
    margin-top: 15px;
    margin-right: 20px;
}

#btnAbandonar{
    margin-bottom: 40px;
    margin-top: 15px;
    margin-right: 20px;
}
#imgestrela{
    width: 50px;
    height: 50px;
}
#imgModal{
    width: 400px;
    height: 300px;
}

@media (max-width: 490px) {
    #imgMissao{
        padding-right: 0;
    }
}

#output{
    width: 200px;
    height: 200px;
}
#output2{
    width: 200px;
    height: 200px;
}


    .selecionarImagem{
     display: none;
    }
    .btnImg{
     cursor: pointer;
     background-color: #ffe600;
         color: #fff;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         font-size: 30px;
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
         background-color:#f0bc44 ;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #000;
    }
    
    .my-float{
        margin-top:22px;
    }
    .btnPublicar{
        width: 150px;
        height: 40px;
        background-color: #ffe600;
        color: #333333;
        border-radius: 5px;
        border: 1px solid #f0bc44;
    }

    .profile-card-5{
        margin-top:20px;
    }
    .profile-card-5 .btn{
        border-radius:2px;
        text-transform:uppercase;
        font-size:12px;
        padding:7px 20px;
    }
    .profile-card-5 .card-img-block {
        width: 91%;
        margin: 0 auto;
        position: relative;
        top: -20px;
        
    }
    .profile-card-5 .card-img-block img{
        border-radius:5px;
        box-shadow:0 0 10px rgba(0,0,0,0.63);
    }
    .profile-card-5 h5{
        color:#ffe600;
        font-weight:600;
    }
    .profile-card-5 p{
        font-size:14px;
        font-weight:300;
    }
    .profile-card-5 .btn-primary{
        background-color:#ffe600;
        border-color:#ffe600;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto; 
    }
    .flex > div {
        flex: 1 1 200px;
        margin: 10px;
    }

    #corCard{
        background-color: #2e2e3841;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    }
    .alinhaCard{
       margin-right: auto;
        margin-left: auto;
    }
    #imgPerfil{
        width: 75px;
        height: 75px;
    }

    .tituloNome{
        color: #fff;
        font-weight: bold;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .tituloCargo{
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .sugestao{
        width: 150px;
        height: 80px;
        border: #78449c 1px solid;
    }

    #btnCRM{
        display: flex;
        align-items: center;
        padding: 3px 5px 5px;
        justify-content: space-evenly;
        width: 160px;
        border-radius: 8px;
        transition: 0.3s;
        font-weight: 400;
        font-size: 0.95rem;
        letter-spacing: 1.5px;
        height: 55px;
        background-image: linear-gradient(to right top, #f6eb90, #f8ea78, #fae95e, #fde83f, #ffe600);
      }

      #txtDu2{
        color: #fff;
        text-align: center; 
        margin: auto;
        font-size: 25px;
        padding: 20px;
      }

      #txtDu{
        color: #fff;
        text-align: center; 
        margin: auto;
        font-size: 20px;
        padding: 20px;
      }
      .imgEmprego{
        width: 64px;
      }

    

