
.whiteScreen {
    background-image: linear-gradient(to right, gray, white);
}

.blackScreen {
    background-image: linear-gradient(to right, black, gray);
}

input {
    width: 50%;
    margin-left: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form {
    margin-top: 3%;
    margin-left: 35%;
}

button img {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
}

.teste {
    color: white;
    margin-top: 2.5%;
}

.EYimg {
    margin-top: 2%;
}
.logoey{
    width: 80px;
    height: 80px;
    margin-bottom: 10%;
}
#corBtnLogin{
    background-color:#ffe600; 
    color: #333333;
    margin-top: 20px;
}
.links{
    text-decoration: none;
    color: black;
}
#txtCadastro{
    font-size: 15px;
}
.corEY{
 background-color: #2e2e38;
}
.navbar{
background-color: #ffe600;
}
.nav-item a{
    color: #fff;
}
#estrelaico{
    color: #2e2e38;
}
#amareloEy{
    color: #ffe600;
}

#corf{
    color: #fff;
}
#descMissaotxt{
    color: #fff;
    padding: 10px;
}
.cardMissoes{
    width: 50%;
    height: auto;
    border-radius: 5px ;
    background-color: #2e2e3841;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

@media (max-width: 900px) {
     .cardMissoes {
     width: 100%;
     margin: 0;
    }
       
}


#imgMissao{
margin-top: 2%;
margin-bottom: 2%;
padding-right: 12%;
}

#cardaMissao{
    border-right:5px solid #ffe600;
    border: 0;
    margin-top: 20px;
}
#cardaMissao2{
    background-color: #2e2e38;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right:5px solid #ffe600;
    color: #fff;
}


#tituloMissao{
    color: #ffe600;
}

#btnIniciar{
    margin-bottom: 15px;
    margin-top: 15px;
}
.progress-bar{
    background-color: #ffe600!important;
}
#porcentagemmissao{
    font-size: 16px;
    color: #2e2e38;
}
.progress{
    background-color: #8f763f !important;
}

#btnFinalizar{
    margin-bottom: 40px;
    margin-top: 15px;
    margin-right: 20px;
}

#btnAbandonar{
    margin-bottom: 40px;
    margin-top: 15px;
    margin-right: 20px;
}
#imgestrela{
    width: 50px;
    height: 50px;
}
#imgModal{
    width: 400px;
    height: 300px;
}

@media (max-width: 490px) {
    #imgMissao{
        padding-right: 0;
    }
}

#output{
    width: 200px;
    height: 200px;
}

    .selecionarImagem{
     display: none;
    }
    .btnImg{
     cursor: pointer;
     background-color: #ffe600;
         color: #fff;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         font-size: 30px;
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
         background-color:#f0bc44 ;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #000;
    }
    
    .my-float{
        margin-top:22px;
    }
    .btnPublicar{
        width: 150px;
        height: 40px;
        background-color: #ffe600;
        color: #333333;
        border-radius: 5px;
        border: 1px solid #f0bc44;
    }