<section class="vh-100"
    style="background-image: url('https://static.vecteezy.com/system/resources/previews/002/326/623/original/black-golden-royal-luxury-background-landing-page-free-vector.jpg');">
    <script>
      AOS.init();
    </script>
    <div data-aos="zoom-in"  class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <img 
              class="logoey"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/EY_logo_2019.svg/768px-EY_logo_2019.svg.png"
                alt="">

              <h3 class="mb-5">Fazer login</h3>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Senha</label>
              </div>

              <a class="links" href="/cadastro">
                <h5 id="txtCadastro">Não possui um login? Faça o cadastro na plataforma aqui</h5>
              </a>

              <button class="btn btn-warning btn-lg btn-block" id="corBtnLogin" type="submit"><b>Entrar</b></button>

              <hr class="my-4">

              
                 <style>
                  html, body {
                  margin: 0;
                  padding: 0;
                  overflow:hidden ;
    
                    }
                  </style>
            


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>