<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links do bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/style.css" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <title>Contato</title>
  </head>
  <body class="corEY">
    <nav class="navbar navbar-expand-lg">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="home.html">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/EY_logo_2019.svg/640px-EY_logo_2019.svg.png"
              height="45"
              alt="MDB Logo"
              loading="lazy"
              style="padding-bottom: 10px"
            />
          </a>
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <!-- Icon -->
          <a
            style="color: #fff"
            class="text-reset me-3 text-white"
            href="perfil.html"
          >
            <i id="estrelaico" class="fas fa-star"> 4</i>
          </a>

          <a
            style="color: #fff"
            class="text-reset me-4 text-white"
            href="regras.html"
          >
            <i id="estrelaico" class="fas fa-scroll"></i>
          </a>
          <a
            style="color: #fff"
            class="text-reset me-4 text-white"
            href="perfil.html"
          >
            <i id="estrelaico" class="fas fa-map-marked-alt"></i>
          </a>

          <!-- Avatar -->
          <div class="dropdown">
            <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="45"
                loading="lazy"
              />
            </a>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <!--Seção responsavel por todo conteudo do site-->

    <section class="cardMissoes">
        <div class="col">
            <a href="home.html">
          <img style="float: left; padding:20px;" src="../static/images/voltar.png" alt="">
           </a>
         </div>
      <img id="imgMissao" src="../static/images/cttimg.png" alt="" />
      <br>
         <img style="width: 50%;" src="../static/images/ctt.png" alt="">

         <h4 id="txtDu">Surgiu alguma dúvida?</h4>
         <p id="txtDu" >entre em contato com nossa equipe em caso de alguma dúvida ou algo que queira nos falar, em relação as vagas, missões ou dúvidas sobre a plataforma ou até mesmo sugestões</p>
         <br>

         <a style="text-decoration: none; color: #fff; font-size: 20px; font-weight: 700;"  href="tel:1142845624">
         <img src="../static/images/call.png" alt=""   />
         1142845624
        </a>
        <br>
        <br>
         <a style="text-decoration: none; color: #fff; font-size: 20px; font-weight: 700;" href="mailto:takakadev@gmail.com">
         <img  src="../static/images/email.png" alt="" />
         takakadev@gmail.com
        </a>
        <br>
        <br>


    </section>
  </body>
</html>

<!-- JS do MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
></script>
