<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0; " src="/images/imgprofal.png" alt="">
    <script>
        AOS.init();
    </script>

    <br>


    <h2 style="color:rgb(100, 224, 16) ;"><i class="fas fa-check"></i> Missões Concluidas <i class="fas fa-check"></i>
    </h2>

    <!--Missões Cadastradas-->
    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
        <div id="cardaMissao" style="border: 0;" class="card">
            <div class="card-content">
                <div id="cardaMissao2" class="card-body cleartfix">
                    <div class="media align-items-stretch">
                        <div class="align-self-center">
                            <img src="/images/hardskills.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                            <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL,
                                JQuery, MVC, APIs, IONIC e muito mais</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!--Missões Cadastradas-->
    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
        <div id="cardaMissao" style="border: 0;" class="card">
            <div class="card-content">
                <div id="cardaMissao2" class="card-body cleartfix">
                    <div class="media align-items-stretch">
                        <div class="align-self-center">
                            <img src="/images/hardskills.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                            <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL,
                                JQuery, MVC, APIs, IONIC e muito mais</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <h2 style="color: rgb(206, 13, 13);"> <i class="fas fa-times"></i> Missões Não Concluidas <i
            class="fas fa-times"></i></h2>

    <!--Missões Cadastradas-->
    <a href="/user/progMissao">
        <div data-aos="zoom-in" class="col-xl-12 col-md-12">
            <div id="cardaMissao" style="border: 0;" class="card">
                <div class="card-content">
                    <div id="cardaMissao2" class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="align-self-center">
                                <img src="/images/hardskills.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                                <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL,
                                    JQuery, MVC, APIs, IONIC e muito mais</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </a>

    <br>


</section>