{{>_navbar}}
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}

<section class="cardMissoes">
    <div class="col">
        <a href="/user/missoes">
            <img style="float: left; padding:20px;" src="/images/voltar.png" alt="">
        </a>
    </div>
    <img id="imgMissao" src="/images/imgregras.png" alt="" />
    <br>
    <script>
        AOS.init();
    </script>

    <br />
    <div style="display: inline-flex">
        <img src="/images/medalamarelo.png" alt="" />
        <h4 id="amareloEy" style="padding-top: 15%;font-weight: bold;">Níveis</h4>
    </div>
    <br>
    <br>


    <p id="corf">
        Veja abaixo a quantidade de pontos necessários para sua evolução:
    </p>

    <div class="row">
        <div class="col">
            <div style="display: inline-flex; ">
                <img style="width: 64px; height: 64px; margin-top: 5%" src="/images/medalamarelo.png" alt="" />
                <div>
                    <h4 id="amareloEy" style="padding-top: 15%">Iniciante</h4>
                    <p style id="corf">0 Pontos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="display: inline-flex; ">
                <img style="width: 64px; height: 64px; margin-top: 5%" src="/images/medallaranja.png" alt="" />
                <div>
                    <h4 id="amareloEy" style="padding-top: 15%">Básico</h4>
                    <p style id="corf">3500 Pontos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="display: inline-flex; ">
                <img style="width: 64px; height: 64px; margin-top: 5%" src="/images/medalroxa.png" alt="" />
                <div>
                    <h4 id="amareloEy" style="padding-top: 15%">Intermediário</h4>
                    <p style id="corf">7200 Pontos</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div style="display: inline-flex; ">
                <img style="width: 64px; height: 64px; margin-top: 5%" src="/images/medalazul.png" alt="" />
                <div>
                    <h4 id="amareloEy" style="padding-top: 15%">Avançado</h4>
                    <p style id="corf">9800 Pontos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="display: inline-flex; ">
                <img style="width: 64px; height: 64px; margin-top: 5%" src="/images/medalazulescuro.png"
                    alt="" />
                <div>
                    <h4 id="amareloEy" style="padding-top: 15%">Expert</h4>
                    <p style id="corf">15600 Pontos</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <br>
    <br>

    <div style="display: inline-flex; ">
        <img id="imgestrela" src="/images/imgestrela.png" alt="">
        <h4 style="padding-top: 7%; padding-left: 2%; font-weight: bold;" id="amareloEy">Perfomance</h4>
    </div>
    <p id="corf"> Sua performance em cada nível é avaliada por estrelas <br>O que pode melhorar sua performance?</p>
    <p id="corf">- Não abandonar missões</p>
    <p id="corf">- Finalizar dentro do prazo</p>
    <p id="corf">- Ter um bom desempenho em uma missão específica</p>
    <p id="corf">- Uma sequência de bons resultados nas missões</p>

    <br>
    <br>





</section>